/*bottoni*/

#containerBtn {
    a:first-child {
        background-color: $blue-button;
        @include buttonSpace()
    };

    a:nth-child(2){
        background-color: $orange-button;
        @include buttonSpace()
    };

    a:nth-child(3){
        background-color: $green-button;
        @include buttonSpace()
    };
};


